## Hello, world! 출력
print Hello, world! with print fuction

In [1]:
print("Hello, world!")

Hello, world!

## 연습문제 01

In [2]:
print("주식은 대박이다.")

주식은 대박이다.

In [3]:
print("I love 'you'")

I love 'you'

In [4]:
print("I like you')

SyntaxError: EOL while scanning string literal (<ipython-input-4-48f8aa2c1cab>, line 1)

In [5]:
print('Korea')

Korea

In [6]:
print{Hello}

SyntaxError: invalid syntax (<ipython-input-6-817926f202ed>, line 1)

In [7]:
print[Hello]

NameError: name 'Hello' is not defined

## 연습문제 02

In [8]:
price_Daum = 89000
price_Naver = 751000
print(price_Daum*100+price_Naver*20)

23920000

In [9]:
print(price_Daum)

89000

In [10]:
loss = price_Daum*100*0.05 + price_Naver*20*0.1
print('손실액 = %s', loss)

손실액 = %s 1947000.0

In [11]:
print('손실액 = ', loss)

손실액 =  1947000.0

In [12]:
f = 50
c = (f-32)/1.8
print(c)

10.0

In [13]:
for i in range(0,10):
    print('pizza')

pizza
pizza
pizza
pizza
pizza
pizza
pizza
pizza
pizza
pizza

In [14]:
print(1000000*0.7*0.7*0.7)

342999.99999999994

In [15]:
print('이름:파이썬')
print('생년월일:2014년 12월 12일')
print('주민등록번호:20141212-1623210')

이름:파이썬
생년월일:2014년 12월 12일
주민등록번호:20141212-1623210

In [16]:
s='Daum Kakao'
print(s[5:], s[:4])

Kakao Daum

In [17]:
a='hello world'
b='hi'
a=b+' '+a[6:]
print(a)

hi world

In [18]:
x='abcdef'
x= x[1:]+x[0:1]
print(x)

bcdefa

## 연습문제 03

In [19]:
naver_closing_price = [488500,500500,501000,461500,474500]
print(naver_closing_price)

[488500, 500500, 501000, 461500, 474500]

In [20]:
print(max(naver_closing_price))

501000

In [21]:
print(min(naver_closing_price))

461500

In [22]:
print(max(naver_closing_price)-min(naver_closing_price))

39500

In [23]:
print(naver_closing_price[2])

501000

In [24]:
naver_closing_price2 = {'09/07':474500, '09/08':461500, '09/09':501000, '09/10': 500500, '09/11':488500}
print(naver_closing_price2)

{'09/07': 474500, '09/08': 461500, '09/09': 501000, '09/10': 500500, '09/11': 488500}

In [42]:
print(naver_closing_price2['09/09'])

501000

## 연습문제 04

In [26]:
for i in range(0,5):
    print('*', end='')

*****

In [27]:
for i in range(0,5):
    for j in range(0,4):
        print('*', end='')
    print('')

****
****
****
****
****

In [28]:
for i in range(0,4):
    for j in range(0,5):
        print('*', end='')
    print('')

*****
*****
*****
*****

In [29]:
for i in range(0,5):
    for j in range(0,i):
        print('*', end='')
    print('')

*
**
***
****

In [30]:
for i in range(0,5):
    for j in range(1,i+1):
        print('*', end='')
    print('')

*
**
***
****

In [31]:
for i in range(0,5):
    for j in range(0,i+1):
        print('*', end='')
    print('')

*
**
***
****
*****

In [32]:
for i in range(5,0):
    for j in range(0,i+1):
        print('*', end='')
    print('')

In [33]:
i = 5
while i > 0:
    for j in range(0,i+1):
        print('*', end='')
    print('')
    i -= 1

******
*****
****
***
**

In [36]:
for i in range(5):
    for j in range(4-i):
        print(end=' ')
    for j in range(i+1):
        print('*', end='')
    print('')

    *
   **
  ***
 ****
*****

In [37]:
for i in range(5):
    for j in range(i):
        print(end=' ')
    for j in range(5-i):
        print('*', end='')
    print('')

*****
 ****
  ***
   **
    *

In [38]:
for i in range(5):
    for j in range(4-i):
        print(end=' ')
    for j in range(i*2+1):
        print('*', end='')
    print('')

    *
   ***
  *****
 *******
*********

In [40]:
for i in range(5):
    for j in range(i):
        print(end=' ')
    for j in range((4-i)*2+1):
        print('*', end='')
    print('')

*********
 *******
  *****
   ***
    *

In [41]:
apart = [[101, 102, 103, 104],[201, 202, 203, 204],[301, 302, 303, 304], [401, 402, 403, 404]]
arrears = [101, 203, 301, 404]
for floor in apart:
    for house in floor:
        if house in arrears:
            continue
        else:
            print(house)

102
103
104
201
202
204
302
303
304
401
402
403

## 연습문제 05

In [43]:
def myaverage(a,b):
    print((a+b)/2)

myaverage(2,4)

3.0

In [47]:
def get_max_min(data_list):
    print(max(data_list), min(data_list))
get_max_min([1,2,3,4,5,6,7,9])

9 1

In [50]:
import os

def get_txt_list(path):
    for x in os.listdir(path):
        if x.endswith('txt'):
            print(x)

get_txt_list('C:\Program Files\Git')

LICENSE.txt

In [59]:
def BMI(weight, height):
    b = weight / ((height/100) * (height/100))
    if b < 18.5:
        print('마른체형')
    elif 18.5 <= b <25.0:
        print('표준')
    elif 25.0 <= b <30.0:
        print('비만')
    else:
        print('고도비만')

BMI(100,180)
BMI(90,180)
BMI(80,180)
BMI(50,180)

고도비만
비만
표준
마른체형

In [64]:
def BMI(weight, height):
    b = weight / ((height/100) * (height/100))
    if b < 18.5:
        print('마른체형')
    elif 18.5 <= b <25.0:
        print('표준')
    elif 25.0 <= b <30.0:
        print('비만')
    else:
        print('고도비만')

while(1):
    weight = input("Weight?")
    height = input("Height?")
    BMI(float(weight), float(height))
    break

Weight?100
Height?180
고도비만

In [65]:
def get_triange_area(width,height):
    print(width*height/2)

get_triange_area(2,4)

4.0

In [73]:
def add_start_to_end(start, end):
    total = 0
    for i in range(start, end+1):
        total = total+i
    print(total)
add_start_to_end(1,100)

5050

In [70]:
def abb_three(cities):
    abb_cities = []
    for city in cities:
        abb_cities.append(city[0:3])
    print(abb_cities)
abb_three(['NewYork', 'Seoul', 'Daegu', 'Gwangju'])

['New', 'Seo', 'Dae', 'Gwa']

## 06. 파이썬 클래스

In [74]:
name = "kimyuna"
email = "yunakim@naver.com"
addr = "seoul"

def print_business_card(name, email, addr):
        print("-------------------------")
        print("Name: %s" % name)
        print("E-mail: %s" % email)
        print("Office Address: %s" % addr)
        print("-------------------------")
    
print_business_card(name, email, addr)

-------------------------
Name: kimyuna
E-mail: yunakim@naver.com
Office Address: seoul
-------------------------

In [77]:
class BusinessCard:
    pass
card1 = BusinessCard()
card1

In [78]:
type(card1)

__main__.BusinessCard

In [79]:
class BusinessCard:
        def set_info(self, name, email, addr):
                self.name = name
                self.email = email
                self.addr = addr
member1 = BusinessCard()
member1

In [80]:
member1.set_info("Yuna Kim", "yunakim@naver.com", "Seoul")
print(member1.name)
print(member1.email)
print(member1.addr)

Yuna Kim
yunakim@naver.com
Seoul

In [81]:
member2 = BusinessCard()
member2.set_info("Sarang Lee", "sarang.lee@naver.com", "Kyunggi")
print(member2.name)
print(member2.email)
print(member2.addr)

Sarang Lee
sarang.lee@naver.com
Kyunggi

In [82]:
class BusinessCard:
    def set_info(self, name, email, addr):
        self.name = name
        self.email = email
        self.addr = addr
    def print_info(self):
        print("--------------------")
        print("Name: ", self.name)
        print("E-mail: ", self.email)
        print("Address: ", self.addr)
        print("--------------------")

member1 = BusinessCard()
member1.set_info("YunaKim", "yuna.kim@naver.com", "Seoul")
member1.print_info()

--------------------
Name:  YunaKim
E-mail:  yuna.kim@naver.com
Address:  Seoul
--------------------

In [84]:
class MyClass:
        def __init__(self):
                print("객체가 생성되었습니다.")
inst1 = MyClass()

객체가 생성되었습니다.

In [88]:
class BusinessCard:
        def __init__(self, name, email, addr):
                self.name = name
                self.email = email
                self.addr = addr
                print("객체생성완료")
        def print_info(self):
                print("--------------------")
                print("Name: ", self.name)
                print("E-mail: ", self.email)
                print("Address: ", self.addr)
                print("--------------------")

member1 = BusinessCard('a', 'b', 'c')

객체생성완료

In [96]:
class Stock:
    market = "kospi"
print(Stock)
s1=Stock()
s2=Stock()
print(id(s1))
print(id(s2))
print(s1.__dict__)
print(s2.__dict__)
s1.market='kosdaq'
print(s1.__dict__)
print(s2.__dict__)
print(s1.market)
print(s2.market)

<class '__main__.Stock'>
94882000
94880656
{}
{}
{'market': 'kosdaq'}
{}
kosdaq
kospi

In [98]:
class Account:
        num_accounts = 0
        def __init__(self, name):
                self.name = name
                Account.num_accounts += 1
        def __del__(self):
                Account.num_accounts -= 1

print(Account.num_accounts)
kim = Account("kim")
lee = Account("lee")

print(kim.name)
print(lee.name)

print(kim.num_accounts)
print(lee.num_accounts)
print(Account.num_accounts)

0
kim
lee
0
0
0

In [99]:
print(Account.num_accounts)

0

In [100]:
class Account:
        num_accounts = 0
        def __init__(self, name):
                self.name = name
                Account.num_accounts += 1
        def __del__(self):
                Account.num_accounts -= 1

In [101]:
kim=Account("kim")
print(kim.name)
print(kim.num_accounts)

kim
0

In [102]:
print(kim.name)

kim

In [103]:
Account.num_accounts

0

In [108]:
park = Account("Park")
park.num_accounts

1

In [109]:
Yoon = Account("Yoon")
Account.num_accounts

2

# num_accounts 변수 오류(↑)

In [110]:
class Parent:
        def can_sing(self):
                print("Sing a song")
father = Parent()
father.can_sing()

Sing a song

In [111]:
class LuckyChild(Parent):
    pass
child1 = LuckyChild()
child1.can_sing()

class UnLuckyChild:
    pass
child2 = UnLuckyChild()
child2.can_sing()

Sing a song

AttributeError: 'UnLuckyChild' object has no attribute 'can_sing'

In [112]:
class LuckyChild2(Parent):
        def can_dance(self):
                print("Shuffle Dance")
child2=LuckyChild2()
child2.can_sing()
child2.can_dance()

Sing a song
Shuffle Dance

## 연습문제 06

In [118]:
class Point():
    def __init__(self, x, y):
        self.x = x
        self.y = y        
    def setx(self,x):
        self.x = x
    def sety(self,y):
        self.y = y
    def get(self):
        return((self.x, self.y))
    def move(self,dx,dy):
        self.x = self.x + dx
        self.y = self.y + dy
a=Point(1,2)
print(a.get())

a.setx(3)
a.sety(4)
print(a.get())

a.move(1,2)
print(a.get())

(1, 2)
(3, 4)
(4, 6)

## 07. 파일 다루기

In [123]:
f = open('C:\\buy_list.txt', 'rt', encoding='UTF8')
lines = f.readlines()
lines

['NAVER\n', '현대차\n', '기아차\n']

In [124]:
for line in lines:
    print(line)

NAVER

현대차

기아차

In [125]:
for line in lines:
    print(line, end="")

NAVER
현대차
기아차

In [127]:
f=open('D:\\test\\sell_list.txt', 'wt')

In [128]:
f.write('삼성전자\n')

5

In [129]:
f.write('SK하이닉스\n')

7

In [130]:
f.close()

In [131]:
t=open('D:\\test\\number.txt', 'wt')
for i in range(10):
    t.write(i,"\n")

TypeError: write() takes exactly one argument (2 given)

In [134]:
t=open('D:\\test\\number.txt', 'wt')
for i in range(1,11):
    t.write('%d\n' % i)
f.close()

In [139]:
import os

def file_listing(directory):
    f=open('D:\\test\\flist.txt', 'wt')
    for file in os.listdir(directory):
        f.write('%s\n' % file)
f.close()
file_listing('c:\\')